.home-page__img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    padding: 60px 60px 60px 0;
}

@media screen and (max-width: 1100px) {
    .home-page__img-container {
        height: 100%;
        width: 100%;
        justify-items: center;
        gap: 20px;
        padding: 0 0 30px;
    }
}
